$font-primary: "Inter", sans-serif;
$font-heading: "Space Grotesk", sans-serif;

$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 28px;
$text-2xl: 36px;

$font-weight-medium: 500;
$font-weight-bold: 700;